.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: #5a9c9c4f;
  margin: 0px;
}

main {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  height: 100%;
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 0px;
}

@media only screen and (max-width: 1024px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 100%;
}

.preview-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 100%;
  overflow-wrap: break-word;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #4aa3a3;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  font-weight: 600;
}

.toolbar p {
  margin: 0px 0px 0px 5px;
}

.editor-container textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
}

textarea {
  background-color: #f8f8f8;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border: none;
}

#preview {
  width: 100%;
  background-color: #c0d8d8;
  min-height: 200px;
  padding: 20px;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}

#preview h1 {
  border-bottom: 2px solid #212529;
  margin: 24px 0px;
}

#preview h2 {
  border-bottom: 1px solid #212529;
}

#preview > p > code {
  padding: 3px;
}

#preview code {
  font-size: 18px;
  font-weight: bold;
  background: #f8f8f8;
}

#preview pre {
  display: block;
  overflow: auto;
  background: #f8f8f8;
  padding: 5px;
  line-height: 1.2;
}

code {
  font-family: monospace;
}

#preview a {
  text-decoration: none;
}

#preview blockquote {
  border-left: 3px solid #212529;
  color: #212529;
  padding-left: 5px;
  margin-left: 25px;
}

#preview table {
  border-collapse: collapse;
}

#preview td,
#preview th {
  border: 2px solid #212529;
  padding-left: 5px;
  padding-right: 5px;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 20px auto;
}
